// Reset some basic styles
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea;
}

.App {
  text-align: center;
}

// Ensure that global links have no default underlines and change color on hover
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #ffcd00;
  }
}

// Add some global styles for any button components
button {
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffcd00;
  }
}
