.navbar {
  background-color: #004aad;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo img {
    height: 50px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;

    li {
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #ffcd00;
      }
    }
  }
}
